.form-div{
    background: lightgray;
    padding: 3%;
    margin: 3%;
    border: 2px solid goldenrod;
    border-radius: 20px;
}
.form{
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 2%;
    margin-bottom: 5%;
    border: 3px solid navy;
    box-shadow: 10px 30px 30px gray;
    border-radius: 10px;
    padding-bottom: 3%;
}
.form input{
    margin: 5%;
    width: 90%;
}
.form h4{
    margin-left: 8%;
    margin-right: 10%;
    padding: 3%;
    color: white;
}
.form a{
    color: yellow;
}
.login-msg{
    padding: 1%;
    text-align: center;
}
section{
    text-align: center;
}