.footer{
    background-image: linear-gradient(180deg, rgb(42, 46, 42), black);
    height: 300px;
}
.logo-text img{
    width: 150px;
    height: 150px;
}
.logo-text{
    display: flex;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 3%;
}
.text-line1{
    position: relative;
    left: 30%;
}
.text-line2{
    position: relative;
    left: 50%;
}
.text-line1 a{
    color: whitesmoke;
}
.text-line2 a{
    color: whitesmoke;
}
.foot-text{
    display: flex;
    margin: 2%;
}
.foot-div{
    margin-left: 30%;
}
.foot-div a{
    color: whitesmoke;
}
.term{
    position: relative;
    left: 20%;
}
.contact{
    position: relative;
    left: 40%;
}
.text-line1 a:hover{
    color: red;
    text-decoration: none;
}
.text-line2 a:hover{
    color: red;
    text-decoration: none;
}
.foot-div a:hover{
    color: red;
    text-decoration: none;
}
.last-line{
    margin-left: 40%;
    color: rgb(17, 17, 17);
}
.last-line:hover{
    margin-left: 40%;
    color: rgb(255, 2, 2);
}